.navbar-dark {
    background-color: #262626;
}
.navbar-dark .navbar-nav .nav-link{
    color: #FAFAFA;
}

.navbar-dark .navbar-brand{
    color: #FAFAFA;
}

a:hover {
    text-decoration: #00A2FF; 
    color: #00A2FF !important;
}

.active{
    color: #0072FF;
}

.title-name {
    color: #0072FF;
}

.title-name2 {
    color: #FAFAFA
}

.links-bar {
    margin-left: 1%;
}

.navbar {
   
}