<div style="margin-bottom: 61px;">
  <nav class="navbar navbar-expand navbar-dark fixed-top">
    <a disabled class="navbar-brand logo" href="#">
      <span class="title2 title-name">LOG</span>
      <span class="title1 title-name2">HUB</span>
    </a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto links-bar">
        <li class="nav-item subheading">
          <a class="nav-link hovering" [routerLink]="['/home/analytics']" routerLinkActive="active">Network Logs</a>
        </li>
        <li class="nav-item subheading">
          <a class="nav-link hovering" [routerLink]="['/home/endpoint']" routerLinkActive="active">Endpoint Logs</a>
        </li>
        <!-- <li class="nav-item subheading">
          <a class="nav-link hovering">empty</a>
        </li> -->
        <!-- <li class="nav-item">
        <a class="nav-link" href="#"></a>
      </li> -->
      </ul>
    </div>
  </nav>
</div>