.navbar-dark {
    background-color: #FAFAFA;
}
.navbar-dark .navbar-nav .nav-link{
    color: black;
    font-weight: bold;
}

.navbar-dark .navbar-brand{
    color: black;
    font-weight: bold;
}

a:hover {
    text-decoration: #00A2FF; 
    color: #00A2FF !important;
}

.active{
    color: #00A2FF;
}