
<nav class="navbar navbar-expand navbar-dark fixed-top">
  <a class="navbar-brand title2 logo" href="#">LogHub</a>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active title2">
        <a class="nav-link hovering" [routerLink]="['/home', { outlets:{mainPath: ['analytics']}}]">Analytics</a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" href="#"></a>
      </li> -->
    </ul>
    <ul class="navbar-nav title2">
      <li class="nav-item">
        <a class="nav-link"><i class="fa fa-medium" aria-hidden="true"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" ><i class="fa fa-twitter" aria-hidden="true"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link"><i class="fa fa-github" aria-hidden="true"></i></a>
      </li>
    </ul>
  </div>
</nav>


