.change-section{
    width:100%;
  
    
}

.username-field {
    display: inline-block;
    width:100%;
}

.password-field {
    display: inline-block;
    width:100%;
}

.change-input{
    float:left;
    width:100%;
}

.password-input{
    float:left;
    width:100%;
}

.change-form {
    width:90%;
    padding-top: 5%;
    padding-left:10%;
}

.change-button {
    float:right;
    background-color: #0072FF;
    color: #fafafa;
    margin-right: 10%;
}

.forget-button {
    color:black;
    float:left;
    margin-left:10%;
}

.bottom-section{
    width:100%;
    margin-top:3%;
    display: inline-block;
}
