<div class="change-section">
    <form class="change-form">
        <mat-form-field class="username-field">
          <div style="display: inline-block; width:100%;">
            <input 
                style="color:black" 
                placeholder="new password" 
                class ="input change-input" 
                [(ngModel)]="username" 
                type="string" 
                name="username" 
                required
                matInput>
          </div>
        </mat-form-field>

        <br>
        <mat-form-field class="password-field">
            <div style="display: inline-block; width: 100%">
                <input 
                  id="password"
                  name="password"
                  style="color:black" 
                  placeholder="retype password" 
                  class="input password-input"
                  type="text"
                  name="password"
                  required
                  matInput >
              </div>
        </mat-form-field>
    </form>
    <div class="bottom-section">
        <button mat-button class="change-button col-md-4" (click)="logIn($event)">Submit</button> 
    </div>
  
</div>

