<div class="change-section">
    <form class="change-form">
        <mat-form-field class="username-field">
          <div style="display: inline-block; width:100%;">
            <input 
                style="color:black" 
                placeholder="new password" 
                class ="input change-input" 
                type="password" 
                name="username" 
                [formControl]="password"
                (input)="changeDetails()"
                required
                matInput>
          </div>
        </mat-form-field>

        <br>
        <mat-form-field class="password-field">
            <div style="display: inline-block; width: 100%">
                <input 
                  id="password"
                  name="password"
                  style="color:black" 
                  placeholder="retype password" 
                  class="input password-input"
                  [formControl]="retype"
                  (input)="changeDetails()"
                  type="password"
                  name="password"
                  required
                  matInput >
              </div>
        </mat-form-field>
    </form>
    <div class="bottom-section">
        <p *ngIf="!passwordBoolean" class="text forget-button">{{errorMessage}}</p>
        <button disabled *ngIf="!passwordBoolean" mat-button class="change-button col-md-4">Submit</button> 
        <button [routerLink]="['/login', { outlets:{loginPath: ['loginDetails']}}]" *ngIf="passwordBoolean" mat-button class="change-button col-md-4">Submit</button> 
    </div>
  
</div>

