
.low{ 
    color: #4EAB7E;

}

.medium {
    color: #FF8400;


}

.high {
    color: #ff9eb5;
}

.veryhigh {
    color: #D44343;

}
.training { 
    color: #0072FF
}

.center {
    text-align: left;

}

.header {
    font-weight: bold
}

.subheader {
    font-style: italic;
}

.mat-button { 
    padding: 0px;
    margin:0px; 
    outline: none; 
    border: 0px;
}

.format-button{
    outline: none !important;
    border: none !important;
    margin-left: 2%;
    color: #0072FF;
    width:auto;
    
    display: inline-block;
}

.format-button:active {
    outline: none; 
    border: none;
}

#bandwidthChart {
    text-align: left;
}

.color {
    color: #FAFAFA;
}

.button {
    border: 0px; 
    outline: none;

}

.format-button{
    text-align: right;
}

.fa-bars {
    font-size: 1.2em;
}

::ng-deep .mat-menu {
    background-color: #262626 !important;
}
::ng-deep .mat-menu-content  {
    border: 0px;
    outline: none;
    height: auto;
    background-color: #1a1a1a !important;
}

::ng-deep .mat-menu-panel {
    background-color: #1a1a1a !important;
}

.mat-menu-item {
    color: #4c4c4c !important;
    background: #1a1a1a !important;
    border: 1px;
    text-align: center;
    outline: none;
  }
  

.settings {
    width: 20% ; 
    height: 30%; 
    z-index: 2;
    position: fixed;
    top: 35%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    background-color: #262626 !important;
    border-radius: 30px
}

.settingsClass {
    background-color: #262626 !important;

}

.inputClass {
    width: 40%;
    margin-top: 1%;
    margin-bottom: 1%;
    border: 0px; 
    outline: 0px;
    display: inline-block;
    background-color: #1a1a1a;
    color: #fafafa;
}
.inputClass:focus {
    width: 40%;
    margin-top: 1%;
    margin-bottom: 1%;
    border: 0px; 
    outline: 0px;
    display: inline-block;
    background-color: #1a1a1a;
    color: #fafafa;
}


.submitButton {
    width: 100%;
    color: #fafafa;
    background: #0072FF;
}

.textField {
    vertical-align: middle; 
    text-align: center;
    line-height: 50px;
    
}

::ng-deep .matInput{
    width: 100px !important; 
    color: orange;
}

.card-style {
    border-radius: 30px;
    background: #262626;
}

.custom-select {
    width: 10%;
}

.selected {
    color: #fafafa !important;
}

.hostTopDetails {
    margin-top: 3%;
    margin-left: 1%;
    height: auto;
    min-height: 30vh; 
    border-radius: 30px;
    width:96vw;
}