<div class="row">
    <div *ngIf="!dataLoading" class="col-sm-8" style="margin-top:2% ;" ng-controller="flipCtrl">
        <!-- <button mat-button style="border-radius:30px" class="col-sm-12" (click)="showBandwidthDetails()"> -->
        <mat-card class="card-style">
            <div>
                <div class="row">
                    <h3 class="title1 color" class="col-sm-11" style="display:inline-block; color:#fafafa">Overall Bandwidth Utilization</h3>
                    <div class="col-sm-1" style="text-align: right">
                        <button mat-icon-button [matMenuTriggerFor]="frequency" class="fa fa-bars format-button"></button>
                    </div>
                    <mat-menu #frequency="matMenu" style="color: #fafafa !important" class="mat-elevation-z0">
                        <button mat-menu-item [ngClass]="{'selected': filterLive}" (click)="showLive()">Live</button>
                        <button mat-menu-item [ngClass]="{'selected': filterDay}" (click)="showDay()">Day</button>
                        <button mat-menu-item [ngClass]="{'selected': filterAll}" (click)="showAll()">All</button>
                    </mat-menu>
                </div>
                <!-- <button mat-icon-button class="fa fa-bars format-button" style="margin-left: 1%; margin-right: 1%;" (click)="flip()"></button> -->
            </div>
            <div class="face">
                <!-- <p class="text subheader color">Current utilization of bandwidth</p> -->
                <p class="headline" style="text-align:center; font-size: 2em!important;" [ngClass]="{'low': lowTrue, 'medium': mediumTrue, 'high': highTrue , 'veryhigh': veryhighTrue , 'training':trainingTrue}">{{overviewUsage}} Mbit/s</p>
                <p class="subtitle" style="text-align:center;font-style: italic" [ngClass]="{'low': lowTrue, 'medium': mediumTrue, 'high': highTrue , 'veryhigh': veryhighTrue , 'training':trainingTrue}">{{informationMessage}}</p>
                <canvas  id="bandwidthChartV2" (click)="bandwidthClick($event)"></canvas>
                <!-- <p style="text-align:center; margin-top:0px" class="subheading" [ngClass]="{'low': lowTrue, 'medium': mediumTrue, 'high': highTrue}" >High Utilization</p>  -->
                <!-- <canvas id="bandwidthChart">
                        </canvas> -->
            </div>

            <!-- <h1 [ngClass]="{'center': true , 'low': setLow, 'medium': setMedium, 'high': setHigh}">{{bandwidth}}</h1>
                <div class="col-sm-12">
                    <mat-card-subtitle>Percentage: {{data}}</mat-card-subtitle>
                </div> -->
        </mat-card>
        <!-- </button> -->
    </div>
    <div style="display:inline-block" style="margin-top:2% ;" class="col-sm-4">
        <mat-card class="card-style">
            HELOO
        </mat-card>
    </div>
</div>

<div *ngIf="showDrilledData" id="drilledData" class="hostTopDetails">
    <mat-card class="card-style">
        <div class="row">
            <h3 class="title1 color" class="col-sm-11" style="display:inline-block; color:#fafafa">Individual Host Analysis</h3>
            <p class="subheading2 color" class="col-sm-11" style="display:inline-block; color:#fafafa">{{detailsText}}</p>
            <app-bandwidth-details [input]="firstRow"></app-bandwidth-details>
            <app-bandwidth-details *ngFor="let indbw of selectedData" [input]="indbw"></app-bandwidth-details>
        </div>
    </mat-card>
</div>


<div *ngIf="bandwidthChartClicked" style="color: #fafafa">Data is currently loading . . . </div>


<!-- <div *ngIf="settings" class="settings">
        <mat-card class="settingsClass" (keyup.enter)="submitSettings()">
            <h3 class="subheading color" style=" display:inline-block; margin-bottom: 2%">Set Bandwidth Threshold</h3>
            <button mat-icon-button class="fa fa-times format-button color" (click)="closeSetting()"></button>
            <div class="row">
                <form class="bandwidth-settings col-sm-12">
                    <p class="text subheader color" >Set Low Threshold </p>
                    <div class="row content" style="height: 5vh">
                        <p class="text color textField col-sm-4">From(%)</p>
                        <input class="inputClass form-control col-sm-7" type="number" min="0" max="100" name="lowFrom" [(ngModel)]="lowFrom" (keyup.enter)="testing()" autocomplete="off" (keyup.enter)="submitSettings()">
                    </div>
                    <div class="row content" style="height: 5vh">
                        <p class="text color textField col-sm-4">To(%)</p>
                        <input class="inputClass form-control col-sm-7" type="number" name="lowTo" [(ngModel)]="lowTo" id="lowTo" placeholder="To"
                            (keyup.enter)="testing()" autocomplete="off" (keyup.enter)="submitSettings()">
                    </div>

                    <p class="text subheader color" style="margin-top:20px;">Set Medium Threshold </p>
                    <div class="row content" style="height: 5vh">
                        <p class="text color textField col-sm-4">From(%)</p>
                        <input class="inputClass form-control col-sm-7" type="number" id="mediumFrom" name="mediumFrom" [(ngModel)]="mediumFrom" 
                            placeholder="From(%)" (keyup.enter)="testing()" autocomplete="off" (keyup.enter)="submitSettings()">
                    </div>
                    <div class="row content" style="height: 5vh">
                        <p class="text color textField col-sm-4">To(%)</p>
                        <input class="inputClass form-control col-sm-7" type="number" id="mediumTo" name="mediumTo" [(ngModel)]="mediumTo" placeholder="To(%)"
                            (keyup.enter)="testing()" autocomplete="off" (keyup.enter)="submitSettings()">
                    </div>

                    <p class="text subheader color" style="margin-top:20px;">Set High Threshold</p>
                    <div class="row content" style="height: 5vh">
                            <p class="text color textField col-sm-4">From(%)</p>
                            <input class="inputClass form-control col-sm-7" type="number" id="mediumFrom" placeholder="From(%)" name="highFrom" [(ngModel)]="highFrom" (keyup.enter)="testing()" autocomplete="off"
                            (keyup.enter)="submitSettings()">
                        </div>
                        <div class="row content" style="height: 5vh">
                            <p class="text color textField col-sm-4">To(%)</p>
                            <input class="inputClass form-control col-sm-7" type="number" id="mediumTo" placeholder="To(%)" name="highTo" [(ngModel)]="highTo" (keyup.enter)="testing()" autocomplete="off" 
                            (keyup.enter)="submitSettings()"> 
                        </div>
                    <p style="color:#D44343 ; text-align: center" *ngIf="error">{{errorMessage}}</p>
                    <div style="margin-top:20px;">
                        <button mat-button type="button" class="submitButton" (click)="submitSettings()" >Submit</button>
                    </div>

                </form>
            </div>
        </mat-card>
    </div> -->