
.low{ 
    color: #4EAB7E;

}

.medium {
    color: #FF8400;


}

.high {
    color: #D44343;

}

.center {
    text-align: left;

}

.header {
    font-weight: bold
}

.subheader {
    font-style: italic;
}

.mat-button { 
    padding: 0px;
    margin:0px; 
    outline: none; 
    border: 0px;
}

.format-button{
    outline: none !important;
    border: none !important;
    margin-left: 2%;
    margin-right: 2%;
    color: #FAFAFA;
    width:auto;
    display: inline-block;
}

.format-button:active {
    outline: none; 
    border: none;
}

#bandwidthChart {
    text-align: left;
}

.color {
    color: #FAFAFA;
}


.settings {
    width: 20% ; 
    height: 30%; 
    z-index: 2;
    position: fixed;
    top: 35%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    background-color: #262626 !important;
    border-radius: 3px
}

.settingsClass {
    background-color: #262626 !important;

}

.inputClass {
    width: 40%;
    margin-top: 1%;
    margin-bottom: 1%;
    border: 0px; 
    outline: 0px;
    display: inline-block;
    background-color: #1a1a1a;
    color: #fafafa;
}
.inputClass:focus {
    width: 40%;
    margin-top: 1%;
    margin-bottom: 1%;
    border: 0px; 
    outline: 0px;
    display: inline-block;
    background-color: #1a1a1a;
    color: #fafafa;
}


.submitButton {
    width: 100%;
    color: #fafafa;
    
    background: #0072FF
}

.textField {
    vertical-align: middle; 
    text-align: center;
    line-height: 50px;
    
}

::ng-deep .matInput{
    width: 100px !important; 
    color: orange;
}

.card-style {
    border-radius: 30px;
    background: #262626;
}