<div class="login-section">
    <form class="login-form">
        <mat-form-field class="username-field">
          <div style="display: inline-block;">
            <input 
                style="color:black" 
                placeholder="username" 
                class ="input login-input" 
                 [(ngModel)]="username" 
                 type="string" 
                 name="username" 
                 matInput>
          </div>
        </mat-form-field>
        <br>
        <mat-form-field class="password-field">
            <div style="display: inline-block;">
                <input 
                  style="color:black" 
                  placeholder="password" 
                  class="input password-input"
                  [(ngModel)]="password"
                  type="text"
                  name="password"
                  (change)="passwordHash(password)"  
                  matInput >
              </div>
        </mat-form-field>
    </form>
    <div class="bottom-section">
        <a href="/login/forgotPassword" class="text forget-button" (click)="forgetPassword()">Forget password?</a>
        <button mat-button class="login-button col-md-4" (click)="logIn($event)">Log In</button> 
    </div>
    
</div>
