<div class="login-section">
    <form class="login-form">
        <mat-form-field class="username-field">
          <div style="display: inline-block; width:100%;">
            <input 
                style="color:black" 
                placeholder="username" 
                class ="input login-input" 
                [formControl]="username"
                type="string" 
                name="username" 
                (input)="validateUser()"
                required
                matInput>
          </div>
        </mat-form-field>

        <br>
        <mat-form-field class="password-field">
            <div style="display: inline-block; width: 100%">
                <input 
                  id="password"
                  name="password"
                  [formControl]="password"
                  style="color:black" 
                  placeholder="password" 
                  class="input password-input"
                  type="password"
                  name="password"
                  (input)="passwordHash(password.value)"
                  required
                  matInput 
                  >
            </div>
        </mat-form-field>
    </form>
    <div class="bottom-section">
        <a [routerLink]="['/login', { outlets:{loginPath: ['forgotPassword']}}]" class="text forget-button" (click)="forgetPassword()">Forget password?</a>
        <button *ngIf="validatedBoolean" routerLink="/home" mat-button class="login-button col-md-4" >Log In</button> 
        <button *ngIf="!validatedBoolean" mat-button class="login-button col-md-4">Log In</button> 
    </div>
  
</div>

