<div class="container-fluid mainContainer">
    <div class="row">
       <p class="title2 chartTitle">CPU Chart</p>
          <button mat-icon-button [matMenuTriggerFor]="frequency" class="fa fa-bars format-button"></button>
          <mat-menu #frequency="matMenu">
              <button mat-menu-item (click)="chartOverview()">CPU Overview</button>
              <button mat-menu-item >Week</button>
            </mat-menu>
    </div>
    <div class="row">
      <p class="subheading2 component-header ">"An overview of the CPU usage of the hosts in your organization</p>
    </div>
    <app-cpu-chart-overview [cpuChartOverview] = "cpuChartOverview"></app-cpu-chart-overview>
    <app-cpu-chart-detail id="details"  *ngIf="showDetails"></app-cpu-chart-detail>
    <app-cpu-chart-host id="hosts" *ngIf="showHost"> </app-cpu-chart-host>
</div>





