<app-template></app-template>
<div>
  <div class="container2">
    <div class="cpu-container">
      <div class="cpu">
        <p class="header" style="padding-top: 5px">CPU</p>
        <div class="doughnut-canvas-container">
          <canvas id="doughnut-canvas" class="chartjs-render-monitor"></canvas>
        </div>
        <div class="cpu-info">
          <span class="cpu-average-percentage">{{cpuAverage | number: '.1-2'}}
            <span>%</span>
          </span>
          <p class="average-usage-text">Average CPU Usage</p>
          <hr>
          <hr>
        </div>
      </div>
      <div class="chrome">
        <p class="header" style="padding-top: 5px">Chrome</p>
        <div class="doughnut-canvas-container">
          <canvas id="doughnut-canvas2" class="chartjs-render-monitor"></canvas>
        </div>
        <div class="cpu-info">
          <span class="cpu-average-percentage">{{chromeAverage | number: '.1-2'}}
            <span>%</span>
          </span>
          <p class="average-usage-text">Average Chrome Usage</p>
          <hr>
          <hr>
        </div>
      </div>
      <div class="event">
        <p class="header">Event Viewer
        </p>
        <p class="event-log-header">{{firstTitle}}</p>
        <p class="event-log-description">{{firstDesc}}</p>
        <p class="event-log-header">{{secondTitle}}</p>
        <p class="event-log-description">{{secondDesc}}</p>
        <p class="event-log-header">{{thirdTitle}}</p>
        <p class="event-log-description">{{thirdDesc}}</p>
      </div>
    </div>
  </div>
  <div class="webpage-information">
    <div class="select-session">
      <select name="slct" id="slct" (change)="sessionChange($event.target.value)">
        <option *ngFor="let session of sessions" [value]="session">{{session}}</option>
      </select>
    </div>
    <!-- <div class="select-session">
        <select name="slct" id="slct" (change)="hostChange($event.target.value)">
          <option *ngFor="let host of hosts" [value]="host">{{host}}</option>
        </select>
      </div> -->
  </div>
  <div class="container">
    <div class="line-canvas-container">
      <canvas id="canvas" class="chartjs-render-monitor"></canvas>
    </div>
  </div>
</div>