.container {
    float: left;
    width: 68%;
    height: 230px;
    margin-top: 1%;
    margin-left: 2%;
}

.webpage-information {
    float: left;
    margin-top: 2%;
    margin-left: 2%;
    width: 68%;
}
.line-canvas-container { 
    width: 100%;
    height: 100%;
}

.cpu-container {
    width: 100%;
    height: 100%;
}

.doughnut-canvas-container {
    width: 50%;
    margin-left: -10%;
    float: left;
}

.container2 {
    margin-top: 2%;
    margin-left: 3%;
    width: 23%;
    float: left;
    border: 2px solid;
    border-color: rgb(54, 54, 54);
}

.header {
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding-left: 10px;
}

.subtext {
    color: rgb(136, 136, 136);
    padding-left: 10px;
    font-size: 14px;
    margin-top: -10px;
}

.cpu-info {
    color: white;
    float: left;
}

.cpu-average-percentage {
    font-size: 38px;
}

.cpu-average-percentage > span {
    font-size: 18px;
}

.average-usage-text {
    font-size: 14px;
    color: rgb(136, 136, 136);
    margin-top: -10px;
}

.cpu-first, .cpu-second {
    float: left;
    width: 33%;
    color: white;
    padding-left: 10px;
}

.cpu-third {
    width: auto;
    color: white;
    float: left;
    padding-left: 10px;
}

.ranking-headers {
    font-size: 16px;
}

.ranking-percentage {
    color: rgb(136, 136, 136);
}

.event-log-header {
    color: white;
    padding-left: 10px;
    font-size: 16px;
    margin-top: -10px;
}

.event-log-description {
    color: rgb(136, 136, 136);
    padding-left: 10px;
    font-size: 14px;
    margin-top: -20px;
    line-height: 18px;
}

h2 {
    display: flex;
    align-items: left;
    justify-content: left;
    margin-top: 20px;
} 

h2 > span { 
    color: rgb(136, 136, 136);
    font-size: 14px;
    padding-right: 10px;
}

h2:after {
  background: rgb(54, 54, 54);
  height: 1px;
  margin-top: 10px;
  flex: 1;
  content: '';
}

h2:before {
    background: none
}

i {
    font-size: 12px;
    color: rgb(136, 136, 136);
}

.threat-level-container {
    float: left;
    margin-top: 2%;
    margin-left: 2%;
    width: 68%;
}

.event-threat, .cpu-threat {
    float: left;
    width: 33%;
}

.chrome-threat {
    float: left;
    width: auto;
}

.threat-headers {
    font-size: 20px;
    color: white;
}

.threat-level {
    font-size: 30px;
}