<div>
  <div class="container2">
    <div class="cpu-container">
      <div class="cpu">
        <p class="header" style="padding-top: 5px">CPU
          <i class="fa fa-info-circle" aria-hidden="true"></i>
        </p>
        <p class="subtext">Average activity of the selected session</p>
        <div class="doughnut-canvas-container">
          <canvas id="doughnut-canvas" class="chartjs-render-monitor"></canvas>
        </div>
        <div class="cpu-info">
          <span class="cpu-average-percentage">{{cpuAverage}}
            <span>%</span>
          </span>
          <p class="average-usage-text">Average CPU Usage</p>
        </div>
        <div class="cpu-first">
          <span class="ranking-headers">{{cpuFirst}}</span>
          <p class="ranking-percentage">{{firstPercentage}}</p>
        </div>
        <div class="cpu-second">
          <span class="ranking-headers">{{cpuSecond}}</span>
          <p class="ranking-percentage">{{secondPercentage}}</p>
        </div>
        <div class="cpu-third">
          <span class="ranking-headers">{{cpuThird}}</span>
          <p class="ranking-percentage">{{thirdPercentage}}</p>
          <br>
        </div>
      </div>
      <div class="event">
        <p class="header">Event Viewer
          <i class="fa fa-info-circle" aria-hidden="true"></i>
        </p>
        <p class="subtext">Recently logged events</p>
        <p class="event-log-header">{{firstTitle}}</p>
        <p class="event-log-description">{{firstDesc}}</p>
        <p class="event-log-header">{{secondTitle}}</p>
        <p class="event-log-description">{{secondDesc}}</p>
        <p class="event-log-header">{{thirdTitle}}</p>
        <p class="event-log-description">{{thirdDesc}}</p>
      </div>
    </div>
  </div>
  <div class="webpage-information">
    <span class="subtext" style="padding: 0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</span>
    <h2>
      <span>CPU USAGE</span>
    </h2>
  </div>
  <div class="container">
    <div class="line-canvas-container">
      <canvas id="canvas" class="chartjs-render-monitor"></canvas>
    </div>
  </div>
  <div class="threat-level-container">
    <h2 style="margin-top: 0">
      <span>RISK LEVELS</span>
    </h2>
    <div class="event-threat">
      <p class="threat-headers">Event</p>
      <p class="threat-level" style="color: #86B34D">{{eventRisk}}</p>
    </div>
    <div class="cpu-threat">
      <p class="threat-headers">CPU</p>
      <p class="threat-level" style="color: #E66C40">{{cpuRisk}}</p>
    </div>
    <div class="chrome-threat">
      <p class="threat-headers">Chrome</p>
      <p class="threat-level" style="color: #D03F4C">{{chromeRisk}}</p>
    </div>
  </div>
</div>