.card-style2 {
    margin-top: 3%;
    width: 96vw;
    background: #262626;
    border-radius: 30px;

}

.card-style3 {
    margin-top: 3%;
    background: #1a1a1a;
    border-radius: 30px;

}

.hostTopDetails {
    margin-top: 3%;
    height: auto;
    border-radius: 30px;
    width:90vw;
    background: #262626;
}

input {
    outline: none !important;
    border: 0px solid transparent;
    box-shadow: none !important;
    width: 16vw !important;
    text-align: center !important;
}
.form-control {
    background-color: #1a1a1a;
    border: 0px;
    margin-left: 20%;
    color: #262626;
}


.login-button {
    background-color: #0072FF;
    color: #fafafa;
    margin-left: 20% !important;
    margin-top: 10% !important;
    outline: none !important;
    border: none !important;
}

.format-button{
    outline: none !important;
    border: none !important;
    margin-left: 2%;
    font-size: 1.2em;
    color: #0072FF;
    width:auto;
    margin-top: 1%;
    display: inline-block;
}

.threshold-button {
    outline: none !important;
    border: none !important;
    background: #0072FF;
    color: #fafafa;
    width:auto;
    display: inline-block;
}

.card-style {
    border-radius: 10px;
    background: #1b1b1b;
    width: 90vw;
    height:auto;
    margin-left: 2%; 
    margin-right: 2%;
    padding:0px;
    margin-top: 0.3%;
    vertical-align: middle;
}

.textS {
    text-align: center;
    vertical-align: middle;
    line-height: 100%;
    margin-bottom: 0px;
    padding: 5%;
}

::ng-deep .mat-menu {
    background-color: #262626 !important;
}
::ng-deep .mat-menu-content  {
    border: 0px;
    outline: none;
    height: auto;
    background-color: #1a1a1a !important;
}

::ng-deep .mat-menu-panel {
    background-color: #1a1a1a !important;
}

.mat-menu-item {
    color: #4c4c4c !important;
    background: #1a1a1a !important;
    border: 1px;
    text-align: center;
    outline: none;
  }
  

.selected {
    color: #fafafa !important;
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    height: 40vh;
    width: 20vw;
    margin-top: -50px;
    margin-left: -100px;
  }

.fa-times {
    color: #777777;
    /* background-color: #1a1a1a; */
    font-size: 1.2em;
    outline: none;
}