#main {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
    align-items: center;
    overflow: hidden;
}

h1 {
    margin-top: 5%;
    color: white;
	font-size: 4rem;
	display: inline-block;
	padding: 1rem;
	font-weight: 400;
	position: relative;
	opacity: 1;
	transform: scale(1);
	transition: transform 0.5s ease, opacity 1s ease;
}

#blue {
    color: #0072FF;
    font-weight: bold;
}

h2 {
    color: #0072FF;
    font-weight: bold;
}

h2:hover {
    cursor: pointer;
    outline: none;
}

.is-loading h1 {
	transform: scale(0.9);
	opacity: 0;
}

h1:before,
h1:after {
	height: 3px;
	width: 100%;
	content: "";
	background: white;
	display: block;
	position: absolute;
	transition: width 0.4s ease;
	transition-delay: 0.8s;
}

h1:before {
	top: 0;
	left: 0;
}

h1:after {
	bottom: 0;
	right: 0;
}

.is-loading h1:before,
.is-loading h1:after {
	width: 0;
}

.fade-in.endpoint {
    width: 35%;
    margin-top: 5%;
    color: white;
    float: left;
    margin-left: 10%;
    -webkit-animation-delay: 1.2s;
    -moz-animation-delay: 1.2s;
    animation-delay: 1.2s;
}

.fade-in.network {
    width: 35%;
    margin-top: 5%;
    color: white;
    float: right;
    margin-right: 10%;
    -webkit-animation-delay: 1.5s;
    -moz-animation-delay:1.5s;
    animation-delay: 1.5s;
}

p {
    color: #777777
}

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}
