<router-outlet style="background: #1a1a1a; height: 80vh !important" name="mainPath"></router-outlet>
<div id="main" class="is-loading">
    <h1>
        <span id="blue">LOG</span>
        <span></span>HUB
    </h1>
</div>
<div class="fade-in endpoint">
    <h2 [routerLink]="['/home/endpoint']">Endpoint Analysis</h2>
    <h4>Chrome &amp; CPU Analysis</h4>
    <p>
        Analyses CPU activity of your machine, including chrome, where cryptomining thrives.
        Identifies high risk activities including spikes in usage.
    </p>
</div>
<div class="fade-in network">
    <h2 [routerLink]="['/home/analytics']" routerLinkActive="active">Network Analysis</h2>
    <h4>Bandwidth Analysis</h4>
    <p>
        Analyses bandwidth of both organization's routers and endpoint computers to determine if anomalies such as network outage, denial of service or 
        optimization of bandwidth is required.
    </p>
</div>