/* .email-section {
    display: inline-block;
    width:100%;
}

.email-field {
    width: 100%;
    padding-top:1.5%;
    padding-left: 0%;
}
.email-input {
    float:left;
    width:85%;
    margin-left:20;
}

.confirmation-input {
    float:left;
    width:85%;
    margin-left:20;
}

.confirmation-field {
    width: 100%;
    padding-left: 0%;
}


.col-md-10{
    padding-right: 0px;
}

.forgot-form {
    padding-left: 0%;
    padding-top: 5%;
} */

.login-section{
    width:100%;
  
    
}

.email-field {
    display: inline-block;
    width:100%;
    margin-top: 10%;
}

.confirmation-field {
    display: inline-block;
    width:100%;
}

.email-input{
    float:left;
    width:100%;
}


.login-form {
    width:90%;
    padding-top: 5%;
    padding-left:10%;
}

.submit-button {
    float:right;
    background-color: #0072FF;
    color: #fafafa;
}