<div class="login-section">
    <form class="login-form">
        <mat-form-field class="email-field">
          <div style="display: inline-block; width: 100%">
            <input 
                style="color:black" 
                placeholder="email" 
                class ="input email-input" 
                [(ngModel)]="username" 
                type="string" 
                name="username" 
                [formControl]="email"
                required
                matInput>
          </div>
        </mat-form-field>
        <br>
        <button *ngIf="email.valid" routerLink="/confirmation" mat-button class="submit-button">Submit</button> 
        <button disabled *ngIf="!email.valid" routerLink="/confirmation" mat-button class="submit-button">Submit</button> 
        
    </form>
</div>
