.login-canvas {
    border-radius: 4px;
    margin: 0px auto;
    height: 35%;
    position:fixed;
    top: 28.5%;
    bottom: 32.5%;
    left: 0;
    right: 0;
}
.white-area {
    background-color: white;
    height: 13%;
    border-radius: 30px;
    margin-bottom: 7%;
    vertical-align: bottom;
}
.blue-area {
    background-color: #FAFAFA;
    height: 85%;
    border-radius: 30px;
}

.type-header {
    position: relative; 
    padding: 0%;
    margin: 0%;
    top: 10%;

}

.mat-button {
    width: auto; 
    height: auto;
    border-radius: 20px;
    text-align: center;
    color: black;
}

#login-button {
    text-align:left;
    width: auto;
    margin: 0%;
    padding: 0px ;
}

.custom-button:hover {
    color: #00A8FF;
}
.custom-button{
    color: black;
}

.button-active {
    color: #0072FF;
}

.dividing-line {
    text-align: center;
    font-size: 24px; 
    padding-left: 2%; 
    padding-right: 2%;
    font-weight: bold;
}

#register-button {
    width:auto;
    font-size: 18px;
}

a {
    text-decoration: none;
}



