body {
    background-color: #1A1A1A;
}



.login-canvas {
    border-radius: 4px;
    margin: 0px auto;
    height: 35%;
    position:fixed;
    top: 28.5%;
    bottom: 32.5%;
    left: 0;
    right: 0;
}
.white-area {
    background-color: #1a1a1a;
    height: 13%;
    border-radius: 30px;
    margin-bottom: 7%;
    vertical-align: bottom;
}
.blue-area {
    height: 85%;
    border-radius: 30px;
}

.type-header {
    position: relative; 
    padding: 0%;
    margin: 0%;
    top: 15%;
    text-align: center;

}

.mat-button {
    width: auto; 
    height: auto;
    border-radius: 20px;
    text-align: center;
    color: black;
}

#login-button {
    text-align:left;
    width: auto;
    margin: 0%;
    padding: 0px ;
}

.custom-button:hover {
    color: #00A8FF;
}
.custom-button{
    color: #FAFAFA;
}

.button-active {
    color: #0072FF;
}

.title-name {
    color: #0072FF;
    font-size: 40px;
    font-weight: bold;
}

.title-name2 {
    font-size: 40px;
    color: #FAFAFA;
   

    
}

.dividing-line {
    text-align: center;
    font-size: 24px; 
    padding-left: 2%; 
    padding-right: 2%;
    font-weight: bold;
}

#register-button {
    width:auto;
    font-size: 18px;
}

a {
    text-decoration: none;
}

.icon {
    font-size: 50px;
    color: black;
    border-radius: 50%;

}

.logo {
    text-align: center;
    font-size: 2em;
    position: relative; 
    bottom: 15px;
}



