<div class="row">
  <div class="col-md-5"></div>

  <div class="login-canvas col-md-4">
    <div class="white-area">
      <div class="type-header title2 row ">
            <!-- <div style="text-align:center;width: 45%">
              <p id="login-button" class="button-active headline">Login</p>
            </div>
            <div id="dividing-line">/</div>
            <div style="text-align:center; width: 45%">
              <button mat-button id="register-button" class="headline" >Register</button>
            </div> -->
            
      </div>
    </div>
    <div class="blue-area">

    </div>
  </div> 
  <div class="col-md-5"></div>
</div>
