<div class="col-md-12 chart-header-section" >
  <div class="col-md-11 canvas-section">
    <div >
        <canvas baseChart
        id="canvas"
        [datasets]="lineChartData"
        [labels]="lineChartLabels"
        [options]="lineChartOptions"
        [colors]="lineChartColors"
        [legend]="lineChartLegend"
        [chartType]="lineChartType"
        (chartHover)="chartHovered($event)"
        (chartClick)="chartClicked($event)">
        </canvas>
    </div>
  </div>
</div>
<!-- 

<canvas  style="display: block;" baseChart
                name="canvas"
                id="canvas"
                (click)="clickFunction($event)"
               ></canvas> -->